//Typography
$secondary-headline-font: "AvenirNextLTW02-Regular", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;

//Colors
$color-three: #41B6E6; //light blue
$color-four: #003057; //dark blue
$color-five: #F1B434; //yellow
$grey-one: #f1f1f1;
$grey-two: #ccc;
$grey-three: #373737;

//Forms
